<!DOCTYPE html>
<html>
    <head>
        <title>Contact Detail</title>
    </head>
    <body>
        @using AddBook.Models;
        <h1>@Model.GetName()</h1>
        <h3>Phone Number: @Model.GetPhoneNumber()</h3>
        <h5>Address: @Model.GetAddress().GetStreetAddress(),@Model.GetAddress().GetCity(),@Model.GetAddress().GetState(),@Model.GetAddress().GetZipCode()</h5>

        <form id="form" action="/contact/@Model.GetId()" method="post">
            <button type="submit">Delete this contact</button>
        </form>
        <a href="/">Back to car list</a>
    </body>
</html>
