<!DOCTYPE html>
<html>
    <head>
        <title>Contact Detail</title>
    </head>
    <body>
        @using AddBook.Models;
        <h1>@Model.GetName()</h1>
        <h3>Phone Number: @Model.GetPhoneNumber()</h3>
        <h5>Address: @Model.GetAddress()</h5>

        <a href="/">Back to car list</a>
    </body>
</html>
