<!DOCTYPE html>
<html>
    <head>
        <title>Add an address to your book</title>
    </head>
    <body>
        <h1>Add an address</h1>
        <form id="form" action="/new" method="post">
            <div>
                <label for='name'>Name:</label>
                <input id="name" type="text" name="name" required>
            </div>
            <div>
                Phone Number:
                <input id="phone-number" type="number" name="phone-number" min="1000000000" required>
            </div>
            <div>
                Address:
                <input id="address" type="text" name="address" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
