<!DOCTYPE html>
<html>
    <head>
        <title>Add an address to your book</title>
    </head>
    <body>
        <h1>Add an address</h1>
        <form id="form" action="/new" method="post">
            <div>
                <label for='name'>Name:</label>
                <input id="name" type="text" name="name" required>
            </div>
            <div>
                Phone Number:
                <input id="phone-number" type="number" name="phone-number" min="1000000000" required>
            </div>
            <div>
                Street Address:
                <input id="street-address" type="text" name="street-address" required>
            </div>
            <div>
                City:
                <input id="city" type="text" name="city" required>
            </div>
            <div>
                State:
                <input id="state" type="text" name="state" required>
            </div>
            <div>
                Zip Code:
                <input id="zip-code" type="number" name="zip-code" min="10000" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
